body {
    background-color: rgb(87, 87, 87);
}
.hex-div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.hex{
    background-color: rgb(16, 8, 56);
    color: white ;
    padding: 1rem;
    border: 0px;
    border-radius: 10px;
}
.button{
    background-color: rgb(16, 8, 56);
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: 500ms;
}
.button:hover{
    background-color:rgb(32, 27, 53);


}

